/*----------------------------------------------------
                 Devster - CSS File
------------------------------------------------------*/


/* About
------------------------------------------------------*/
ul.about-list {margin:0px; padding:0px 0px 0px 16px; list-style-type:none; color:#bdbdbd;}
ul.about-list li {background-image:url(../images/small-arrow.png); background-position:0px 3px; background-repeat:no-repeat; padding:0px 0px 12px 17px; line-height:13px;}
ul.about-list li a {text-decoration:none;}
ul.about-list li a:hover {text-decoration:underline;}


/* Blog
------------------------------------------------------*/
ul.blog-list {margin:0px; padding:0px; list-style-type:none; color:#bdbdbd;}
ul.blog-list li {background-image:url(../images/small-arrow.png); background-position:0px 3px; background-repeat:no-repeat; padding:0px 0px 12px 17px; line-height:13px;}
ul.blog-list li a {text-decoration:none;}
ul.blog-list li a:hover {text-decoration:underline;}
.blog-post {padding-bottom:18px;}
.blog-posted {background-image:url(../images/blog-post-bg.jpg); background-repeat:no-repeat; height:27px; margin-top:30px; padding-top:8px; font-size:11px;}
.posted-left {float:left;}
.posted-right {float:right;}
.comment {float:left; margin-top:2px; margin-right:7px;}
#newsletter fieldset {margin:0px; padding:0px; border:0px;}


/* Content 
------------------------------------------------------*/
#content {padding-bottom:40px; float:left;}
#content-inner {float:left; width:630px;}
#content-right {float:left; width:300px; margin:20px 0px 0px 30px;}
#content h4 {margin-bottom:4px;}
ul.list {list-style-type:none; margin:0px; float:left;}
ul.list li {background-image:url(../images/green-arrow.png); background-position:0px 2px; background-repeat:no-repeat; padding:0px 0px 12px 22px; line-height:13px;}
#main_text {padding:20px 0px 0px 0px;}
#head-top {width:960px; height:25px; border-bottom:1px solid #71736b; padding-bottom:8px; margin:12px 0px 12px 0px; float:left;}
#head-top-inner {width:630px; height:25px; margin:13px 0px 10px 0px; padding-bottom:7px; float:left; border-bottom:1px solid #71736b;}


/* Sidebar
------------------------------------------------------*/
.side-box {padding-bottom:10px;}
.side-box h3 {border-bottom:1px solid #71736b; padding-bottom:3px;}
.but {vertical-align:middle; padding-left:5px;}
.inputbox01 {width:218px; border:1px solid #cfd4c3; vertical-align:top; padding:2px 4px 3px 3px; color:#999; }


/* Portfolio 
------------------------------------------------------*/
.base {
/*make it 100% width and a minimum of 1000px width*/
width: auto;
margin-left: 0px;
margin-right: 0px;
min-width: 1000px;
padding: 0px;
display:table;
}
.base-row {
Display: table-row;
}
.base li {
display: table-cell;
width: 33%;
}
.cell1 {
background-image:url(../images/bg-top-container1.jpg);
}
.cell2 {
background-image:url(../images/bg-top-container1.jpg);
}
.cell3 {
background-image:url(../images/bg-top-container1.jpg);
}

/* Clearing method
------------------------------------------------------*/
.clearfix:after	{content:".";  display:block;  clear:both;  visibility:hidden;  line-height:0;  height:0;}
.clearfix {display:inline-block;}
html[xmlns] .clearfix {display:block;}
* html .clearfix {height:1%;}
.clear {clear:both;}


/* Contact 
------------------------------------------------------*/
form {margin:0; padding:0;}
#contactFormArea {width:480px; color:#6b6b6b;}
.input {background-color: #ffffff; border:1px solid #cfd4c3; width:286px; padding:5px 5px 5px 5px; margin:0px; color:#6b6b6b;}
.input-submit { background-image:url(../images/but-send.gif); background-repeat:no-repeat; padding:0px; margin:0px; border:0px; width:93px; height:28px; cursor:pointer; float:right; margin-right:97px;}
.textarea {background-color: #ffffff; border:1px solid #cfd4c3; width:286px; padding:5px 5px 5px 5px; margin:0px; color:#6b6b6b;}
.facebook {float:left; width:150px; padding:10px 0px 20px 0px;}
.twitter {float:left; width:150px; padding:10px 0px 20px 0px;}
.social-text {float:left; padding-top:8px;}
.social-icon {float:left; padding-right:5px}
.social-text a {color:#7a7a7a;text-decoration:none;}