/*----------------------------------------------------
                 Devster - CSS File
------------------------------------------------------*/


/* Global
------------------------------------------------------*/
html,body{height:100%}
body {
	font-family:Tahoma, Arial, Verdana;
	font-size:12px;
	margin:0 auto;
	padding:0;
	color:#676767;
	background-color:#f9fbf4;
	height:100%;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clr{clear:both}
form{margin:0; padding:0;}


/* Default Element Styles
------------------------------------------------------*/
/* heading */
h1, h2, h3, h4, h5 {margin-bottom:10px; font-family:Tahoma, Arial, Verdana;	font-weight:normal;}
h1 {color:#303030; font-size:34px;}
h2 {color:#303030; font-size:24px;}
h3 {color:#303030; font-size:18px;}
h4 {color:#303030; font-size:16px;}
h5 {font-size:12px; margin:3px 0px; padding:0px; font-weight:bold; letter-spacing:1px;}

/* links */
a {color:#676767;text-decoration:underline;}
a:hover{text-decoration:underline;}
a img{border:none;}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	font-size:12px;
	line-height:18px;
	margin-bottom:20px;
	color:#676767;
}
ul, ol {
	margin:10px 0 35px 40px;
}
li ol,
li ul
{
	font-size:1.0em;
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
blockquote {
	margin:0px;	
	padding-left:35px;
	background-image:url(../images/quote.png);
	background-position:0px 5px;
	background-repeat:no-repeat;
}

/* code */
code {
	font-family:Tahoma, Arial, Verdana;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #676767;
	padding:15px 10px;
}


/* Container
------------------------------------------------------*/
#main_container{background-image:url(../images/bg-top-container.jpg); background-repeat:repeat-x; min-height:90%; }
#bottom_container{background-image:url(../images/bg-bottom-container.gif); background-repeat:repeat-x; height:84px; margin:0px auto 0px auto; clear:left;}


/* Frame
------------------------------------------------------*/
#frame{width:960px; margin:0px auto 0px auto; }


/* Top
------------------------------------------------------*/
#top{height:46px;}
#logo{width:255px; float:left;}
#pad_logo{padding:9px 0px 0px 5px;}
#topmenu{width:705px; float:left;}
#rss {float:right;padding:15px 5px 0px 0px;}
.rss-text {float:left; font-size:11px; padding-top:1px;}
.rss-img {float:left; padding-left:5px; }
.rss-text a {color:#676767;text-decoration:none;}
#head-top {width:960px; height:25px; border-bottom:1px solid #71736b; padding-bottom:8px; margin:12px 0px 10px 0px; float:left;}
#head-top1 {width:960px; height:-10px; border-bottom:1px solid #71736b; padding-bottom:1px; margin:1px 0px 10px 0px; float:left;}

#head-title h2 {width:630px; padding-bottom:3px; float:left;}


/* Top Navigation bar menu styling */
#nav {margin:0px; padding:12px 0px 0px 0px; float:right;}
#nav ul li.last{background:none;}
#nav ul{ 
	padding:0;
	margin:0;
	width:auto;
	list-style: none;
	height:37px;
	position: relative;
	float:right;	
}
#nav li{
	list-style:none;
	float:left;
	text-align:center;
	padding:0;
	font:normal 14px Tahoma;	
	color:#ffffff;
	background:url(../images/nav-divider.gif) no-repeat 100% 3px;
}
#nav li a {
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 20px;
	color:#ffffff;
	text-decoration:none;	
}
#nav li a:hover {
	background: url(../images/lava.gif) no-repeat center 28px;
	height:37px;		
	color:#ffffff;
}	
#nav li .active {
	background: url(../images/lava.gif) no-repeat center 28px;
	height:37px;		
	color:#ffffff;
}	
#nav a:link{color:#ffffff; text-decoration:none;}	
#nav a:hover{color:#ffffff; text-decoration:none;}	
#nav a:active{color:#ffffff; text-decoration:none;}


/* Content
------------------------------------------------------*/
.imgleft{float:left; padding-right:10px;}
.imgright{float:right; padding-left:15px;}
.imgleft-box{float:left; border:solid 1px #cfd4c3; padding:6px; margin-right:15px; background-color:#f9fbf4;}
.imgright-box{float:right; border:solid 1px #cfd4c3; padding:6px; margin-left:15px; background-color:#f9fbf4;}
#content1{float:left; width:300px;}
#content2{float:left; width:300px; margin-left:30px;}
#content3{float:left; width:300px; margin-left:30px;}
.map{border:solid 1px #dadada; padding:6px; margin:0px; background-color:#fbfbfb;}
.newsfeed{float:right; margin-top:4px; margin-right:4px;}
.maincontent h3 {border-bottom:1px solid #71736b; padding-bottom:3px;}
.brochure{margin-top:30px;}


/* Footer
------------------------------------------------------*/
#footer{width:960px; margin:0px auto 0px auto; color:#787773; clear:both;}
#foot{padding:13px 0px 0px 0px; font-size:11px; line-height:18px; float:left;}
#foot a, #foot a:visited{color:#787773; text-decoration:none;}
#foot a:hover{text-decoration:underline;}
.left-foot{width:750px; float:left;}
.right-foot1{ width:190px; float:right;}

.twitter-code{width:400px; margin-top:7px; margin-left:8px; text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
#bottom_c{background-image:url(../images/bg-top-container1.jpg);}
}	

 

  

a.button19 {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
} 
.button19:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.button19:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

a.button30 {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px rgba(255,255,255,.3);
  font-size: 150%;
  font-weight: 900;
  color: #000;
  border-radius: 100%;
  background: rgb(144,142,105) linear-gradient(rgb(185,181,151), rgb(144,142,105));
  box-shadow:
   inset 0 -2px 1px rgba(0,0,0,.5),
   inset 0 2px 1px rgba(255,255,255,.9),
   0 4px 4px rgba(0,0,0,.9);
}
a.button30:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 12%;
  left: 12%;
  right: 12%;
  bottom: 12%;
  border-radius: 100%;
  background: rgb(242,203,20) linear-gradient(rgb(242,203,20), rgb(255,182,7));
  box-shadow:
   inset 0 2px 1px rgba(0,0,0,.5),
   inset 0 -2px 1px rgba(255,255,255,.3);
}
a.button10 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button10:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
a.button10:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

.imgCenter {text-align:center;}
a.button11 {
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 700;
  text-decoration: none;
  padding: .25em .5em;
}
a.button11:after {
  content: "Kassa";  /* здесь 6 букв */
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 6*(1em*90/110) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родител€ */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #808080;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(#808080, #000000) no-repeat 100% 0;
  background-size: calc(6*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button11:hover:after {
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button11:active:after {
  background-image: linear-gradient(#808080,#000000);
}
div.wrapper {
width:1000px;
}
div.left_block {
float:left;
width:500px;
}
div.right_block {
float:right;
width:500px;
}

.button{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:dotted 1px #000000; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:14px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#000000; 
 background-image: -moz-linear-gradient(top, #000000 0%, #b0b0b0 100%); 
 background-image: -webkit-linear-gradient(top, #000000 0%, #b0b0b0 100%); 
 background-image: -o-linear-gradient(top, #000000 0%, #b0b0b0 100%); 
 background-image: -ms-linear-gradient(top, #000000 0% ,#b0b0b0 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#b0b0b0',GradientType=0 ); 
 background-image: linear-gradient(top, #000000 0% ,#b0b0b0 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
   -webkit-transition: height 0s linear;
 -moz-transition:  height 0s linear;
 -o-transition:  height 0s linear;
 transition:  height 0s linear;}.button:hover{
 padding:11px 32px; 
 border:dotted 1px #000000; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:14px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#b0b0b0; 
 background-image: -moz-linear-gradient(top, #b0b0b0 0%, #000000 100%); 
 background-image: -webkit-linear-gradient(top, #b0b0b0 0%, #000000 100%); 
 background-image: -o-linear-gradient(top, #b0b0b0 0%, #000000 100%); 
 background-image: -ms-linear-gradient(top, #b0b0b0 0% ,#000000 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); 
 background-image: linear-gradient(top, #b0b0b0 0% ,#000000 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.button:active{
 padding:11px 32px; 
 border:dotted 1px #000000; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background-color:#000000; 
 background-image: -moz-linear-gradient(top, #000000 0%, #b0b0b0 100%); 
 background-image: -webkit-linear-gradient(top, #000000 0%, #b0b0b0 100%); 
 background-image: -o-linear-gradient(top, #000000 0%, #b0b0b0 100%); 
 background-image: -ms-linear-gradient(top, #000000 0% ,#b0b0b0 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#b0b0b0',GradientType=0 ); 
 background-image: linear-gradient(top, #000000 0% ,#b0b0b0 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
 div.wrapper2 {
width:1000px;
}
div.left_block2 {
float:left;
width:1000px;
}
div.right_block2 {
float:right;
width:500px;
}

.errorMessage{
	color:red;
}

.example2 {
    display:inline-block;   
    position:relative;
 
}
.example2 span {
    display:inline-block;
    position:absolute;
    top:13px;   
    left:200px;
     
    /* ќформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* ‘он */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}
.example2 span1 {
    display:inline-block;
    position:absolute;
    top:5px;   
    left:3px;
     
    /* ќформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* ‘он */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}
.example2 span2 {
    display:inline-block;
    position:absolute;
    top:5px;   
    left:780px;
     
    /* ќформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* ‘он */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}


.example21 {
    display:inline-block;   
    position:relative;
 
}
.example21 span {
    display:inline-block;
    position:absolute;
    top:30px;   
    left:0px;
     
    /* ќформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* ‘он */
    background-color:rgba(0,0,0,.4);
    padding:0px 10px;
}
.example21 span1 {
    display:inline-block;
    position:absolute;
    top:73px;   
    left:3px;
     
    /* ќформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* ‘он */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}
.example21 span2 {
    display:inline-block;
    position:absolute;
    top:5px;   
    left:780px;
     
    /* ќформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* ‘он */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}




.example3 {
    display:inline-block;   
    position:relative;
}
.example3 .example_text {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
         
    padding:10px;
    background-color:rgba(0,0,0,.3);
 
     
}
.example3 h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}
.example3 span {
    font-size:12px; 
}




 #navbari {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbari li { display: inline; }