

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->

            Поиск: <input ng-model="query">
         	 Сортировать по:
            <select ng-model="orderProp">
                <option value="name">Алфавиту</option>
                <option value="numberStudents">По кол-ву студентов</option>
            </select>

        </div>
        <div class="span10">
            <!--Body content-->

            <ul class="cathedras">
                <li ng-repeat="cathedra in cathedras | filter:query | orderBy:orderProp" class="thumbnail">
                    <a href="#/cathedra/{{cathedra.id}}"  ng-click = "getCurentCath(cathedra.name)">Кафедра : {{cathedra.name}}</a>

                    <p>Декан : {{cathedra.chiefFio}}</p>
                    <p>Кол-во студентов : {{cathedra.numberStudents}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>